@import "../../styles/variables";

.markdown-wrapper {
  padding-top: $navHeight;
  .markdown {
    max-width: $compactPageWidth;
  }
}

.markdown {
  font-size: 14px;
  padding: 16px 32px;
  @media (max-width: 520px) {
    padding: 8px 16px;
  }
  @media (max-width: 375px) {
    article {
      > p:first-of-type > a > img {
        height: 100px;
        padding-top: 60px;
      }
    }
  }
}
