@mixin textHighlight($color) {
  text-decoration: underline;
  text-decoration-thickness: 2ex;
  text-decoration-color: $color;
  text-decoration-skip-ink: none;
  text-underline-offset: -2.8ex;
}

@mixin hoverUnderline($color: currentColor) {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $color;
    transform-origin: bottom left;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}
