$fabricWhite: rgb(237, 235, 233);
$fabricBlack: rgb(50, 49, 48);
$fabricDeepBlack: rgb(32, 31, 30);
$fabricBlue: rgb(0, 120, 212);
$fabricLightBlue: rgb(16, 110, 190);
$fabricDeepBlue: rgb(0, 90, 158);
$fabricGrey: rgb(138, 136, 134);
$fabricLightGrey: rgb(161, 159, 157);
$fabricLightWhite: rgb(237, 235, 233);
$fabricDeepWhite: rgb(243, 242, 241);
$fabricScarlet: rgb(164, 38, 44);
