@import "../../styles/variables";

$navHeight: 60px;
$cardGap: max(15px, 1vw);

.all {
  flex-wrap: wrap;
  margin: $navHeight 0;

  &__header {
    padding: 10px 10vw;
    position: fixed;
    height: $navHeight;
    background-color: rgba(#fff, 0.9);
    z-index: $zNav;
    border-bottom: 1px solid hsl(0, 0%, 95%);
    top: 0;
    left: 0;
    right: 0;
  }

  &__domino {
    background-color: #fff !important;
    opacity: 0 !important;
    will-change: opacity;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
  }

  &__main {
    margin: $cardGap calc(10vw - #{$cardGap});
    position: relative;
    width: 100%;
    &--fetching {
      .all__domino {
        opacity: 1 !important;
      }
    }
  }

  &__preview-item {
    padding: $cardGap;
    min-width: 200px;

    @media (min-width: 800px) {
      flex-basis: 50%;
    }
    @media (min-width: 1261px) {
      flex-basis: 33.33%;
    }
  }
}

.all-header {
  &__title {
    margin: 10px 20px;
  }

  &__logo {
    width: 2.5em;
  }
}
