// light theme
.markdown-body {
  @import "@primer/css/base/index.scss";
  --color-text-primary: #24292e;
  --color-text-secondary: #586069;
  --color-text-tertiary: #6a737d;
  --color-text-link: #0366d6;
  --color-text-danger: #cb2431;
  --color-border-primary: #e1e4e8;
  --color-border-secondary: #eaecef;
  --color-border-tertiary: #d1d5da;
  --color-border-overlay: #e1e4e8;
  --color-border-inverse: #fff;
  --color-bg-primary: #fff;
  --color-bg-secondary: #fafbfc;
  --color-bg-tertiary: #f6f8fa;
  --color-markdown-code-bg: rgba(27, 31, 35, 0.05);
  --color-markdown-frame-border: #dfe2e5;
  --color-markdown-blockquote-border: #dfe2e5;
  --color-markdown-table-border: #dfe2e5;
  --color-markdown-table-tr-border: #c6cbd1;
}

@import "@primer/css/markdown/index.scss";

.markdown-body {
  h1 {
    white-space: nowrap;
  }
  code {
    word-break: break-word;
  }
  a {
    word-break: break-all;
  }

  h2 {
    position: relative;
    &:hover {
      .header-anchor {
        opacity: 1;
      }
    }
  }

  .header-anchor {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    padding-right: 4px;
  }
}
