.preview {
  img {
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    transition: all 0.25s ease-out;
    outline: 1px solid rgba(0, 0, 0, 0.05);
    outline-offset: -1px;
  }

  &__frame-wrapper {
    width: 100%;
  }

  &__iframe {
    position: absolute;
    transform: scale(0.25);
    transform-origin: top left;
    width: 400%;
    height: 400%;
    top: 0px;
    left: 0px;
    pointer-events: none;
  }

  &__frame {
    width: 100%;
    background-color: rgba(48, 105, 161, 0.3);
    position: relative;
    padding-bottom: percentage(1440/2560);

    & img {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__title {
    margin: 5px;
  }
}
